html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    padding: 0;
    margin-bottom: 60px;
    background: #EFEFEF;
}

.navbar {
    background: #ca2521;
}

.nav-link,
.navbar-brand {
    color: white;
    cursor: pointer;
}


/* Welcoming */
.welcoming {
    left: 30%;
    position: absolute;
    top: 20%;
    transform: translate(-70%, -80%);
    text-align: left;
}

.welcoming h1 {
    color: white;
}

.welcoming p {
    color: #dbdbdb;
    font-size: 1.7rem;
    line-height: 1.5;
}

.welcoming a {
    border: 1px solid #ca2521;
    background: #ca2521;
    border-radius: 0;
    color: #ffffff;
}

.welcoming a:hover {
    border: 1px solid #009E60;
    background: #009E60;
    color: #000;
}

/* Homepage */
.backgroundimage {
    background-image: url('../Images/hp_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.px-0 {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

/* Popular Choices */
.popular {
    margin: 4em auto;
    padding: 1em;
    position: relative;
    padding-top: 1em
}

.popular .feature-title {
    color: #ca2521;
}

.popular img {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
}

.popular h2 {
    color: #eca442;
    text-align: center;
}

/*Order Form*/
.order-form .container {
    color: #4c4c4c;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.order-form-label {
    margin: 8px 0 0 0;
    font-size: 14px;
    font-weight: bold;
}

.order-form-input {
    width: 100%;
    padding: 8px 8px;
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.2em;
    background-color: transparent;
    border-color: #cccccc;
}

.btn-submit {
    border: 1px solid #ca2521;
    background: #ca2521;
    border-radius: 0;
    color: #ffffff;
}

.btn-submit:hover {
    border: 1px solid #009E60;
    background: #009E60;
    color: #000;
}

.order-form {
    padding-top: 1rem; 
}

.order-form h1 {
    color: #eca442;
}
